html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --space-xxxs: 2px;
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 26px;
    --space-xxl: 32px;
    --space-xxxl: 40px;
    --space-xxxxl: 48px;
    --space-xxxxxl: 72px;
}

.Header {
    height: 56px;
    padding: 0 var(--space-m);
}

.Header-Logo {
    margin-right: var(--space-xl);
}

.Body {
    padding: var(--space-s) var(--space-m);
}

.Navigation {
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-bottom: 1px solid #e5e5e5;
}

.Navigation_color_type1 {
    color: #f0f2f3;
}

.Navigation-Item {
    height: 100%;
    color: #7f8285;
}

.Navigation-Item_current {
    box-sizing: border-box;
    margin-bottom: -1px;
    color: #000000;
    border-bottom: 3px solid #ff4f49;
}

.Tabs {
    height: 30px;
    text-transform: uppercase;
}

.Tabs-Item {
    font-size: 16px;
    line-height: 20px;
    margin-right: var(--space-xxl);
}

.Dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 24px;
}

.Dropdown:after {
    position: absolute;
    right: -18px;
    display: inline-block;
    width: 12px;
    height: 12px;
    content: ' ';
    background-image: url('images/chevron_down.svg');
    background-position: center;
}

.Dropdown-Label {

}

.Dropdown-Value {
    margin-left: var(--space-xxs);
    color: #7f8285;
}

.Breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
}

.Breadcrumbs-Item {
    height: 30px;
}

.Breadcrumbs-Link {
    position: relative;
    margin-right: var(--space-xxl);
    text-decoration: none;
    color: #7f8285;
}

.Breadcrumbs-Link:after {
    position: absolute;
    right: calc(var(--space-xxl) / -2);
    content: '/';
    pointer-events: none;
}

.Text_size_m {
    font-size: 14px;
    line-height: 20px;
}

.Text_size_xl {
    font-size: 24px;
    line-height: 28px;
}

.Link {
    text-decoration: none;
    color: #1774e9;
}

.Username {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.Username::first-letter {
    color: #ff3029;
}

.Layout-Branch {
    margin-top: 10px;
}

.Layout-LastCommit {
    margin-top: 4px;
}

.Layout-Tabs {
    margin-top: 16px;
}

@media (min-width: 800px) {
    .Header {
        padding: 0 var(--space-xxl);
    }

    .Header-Logo {
        margin-right: var(--space-xxxl);
    }

    .Body {
        padding: var(--space-s) var(--space-xxl);
    }

    .Layout-Branch {
        margin-top: 12px;
    }

    .Layout-LastCommit {
        margin-top: 10px;
    }

    .Layout-Tabs {
        margin-top: 18px;
    }
}
