{
  "extends": [
    "standard"
  ],
  "rules": {
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", {"named": "never"}]
  }
}
