.Button {
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    min-height: 28px;
    padding: 0;
    white-space: nowrap;
    border: none;
    background: none;
}

.Button-Icon {
    margin-right: 6px;
}

.Button_default {
    padding: 0 12px;
    border-radius: 4px;
    background: #e6e6e6;
}

.Button_ghost {
    color: #7f8285;
}
