<div class="Layout-Branch">
    <div class="Text_size_xl"><%= locals.filename || 'arcadia' %></div>
    <div class="Dropdown Text_size_xl">
        <div class="Dropdown-Value">trunk</div>

        <div class="Dropdown-Content Dropdown-Content_corners_rounded">
            <div class="Select">
                <div class="Select-Header">
                    <div class="Select-Item Select-Item_selected">
                        <div class="Select-ItemName">Trunk</div>
                        <div class="Select-ItemNote">Last commit 4 s ago</div>
                    </div>
                </div>

                <div class="Select-Body Scroll">
                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/DEVTOOLS-43865</div>
                        <div class="Select-ItemNote">Last commit 1 min ago</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/DEVTOOLS-37948</div>
                        <div class="Select-ItemNote">Last commit at 16:25</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/DEVTOOLS-94877</div>
                        <div class="Select-ItemNote">Last commit yesterday, 14:50</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/DEVTOOLS-87450</div>
                        <div class="Select-ItemNote">Last commit on Jan 11, 12:01</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/DEVTOOLS-27073</div>
                        <div class="Select-ItemNote">Last commit on Dec 29, 2017</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/SCROLL-0001</div>
                        <div class="Select-ItemNote">Last commit on Dec 13, 2011</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/SCROLL-0002</div>
                        <div class="Select-ItemNote">Last commit on Dec 14, 2011</div>
                    </div>

                    <div class="Select-Item">
                        <div class="Select-ItemName">users/rudskoy/SCROLL-0003</div>
                        <div class="Select-ItemNote">Last commit on Dec 15, 2011</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
