<div class="DiffNavigation">
    <div class="DiffNavigation-Position">
        @@ -270, 160  +270, 161 @@
    </div>
    <div class="DiffNavigation-Buttons">
        <button class="DiffNavigation-Button DiffNavigation-Button_disabled" disabled>
            <img class="DiffNavigation-Icon" src="images/down_disabled.svg" alt="down">
            Below 20 lines
        </button>
        <button class="DiffNavigation-Button">
            <img class="DiffNavigation-Icon" src="images/up.svg" alt="up">
            Above 20 lines
        </button>
    </div>
</div>
