<meta charset="UTF-8">
<title>Yandex Arcanum - <%= title  %></title>

<link href="/styles.css" rel="stylesheet" />
<link href="/styles/layout.css" rel="stylesheet" />
<link href="/styles/dropdown.css" rel="stylesheet" />
<link href="/styles/select.css" rel="stylesheet" />
<link href="/styles/pane.css" rel="stylesheet" />
<link href="/styles/markdown.css" rel="stylesheet" />
<link href="/styles/scroll.css" rel="stylesheet" />
<link href="/styles/timeline.css" rel="stylesheet">
<link href="/styles/commit_info.css" rel="stylesheet">
<link href="/styles/button.css" rel="stylesheet">
<link href="/styles/commit_header.css" rel="stylesheet">
<link href="/styles/diff_table.css" rel="stylesheet">
<link href="/styles/diff_navigation.css" rel="stylesheet">
<link href="/styles/diff_header.css" rel="stylesheet">
<link href="/styles/syntax.css" rel="stylesheet">

<script src="/scripts.js" defer></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="favicon.png">
