<div class="Header Navigation Navigation_color_type1">
    <a href="/files.html"><img class="Header-Logo" src="images/logo.svg" alt="logo"></a>

    <div class="Dropdown Navigation-Item Navigation-Item_current">
        <div class="Dropdown-Label" data-dropdown-toggle>Repository Arc</div>

        <div class="Dropdown-Content Dropdown-Menu Navigation-DropdownContent">
            <div class="Dropdown-MenuItem">Arc</div>
            <div class="Dropdown-MenuItem">My repository</div>
            <div class="Dropdown-MenuItem">Devtools-team repository</div>
        </div>
    </div>
</div>
