<div class="Layout-LastCommit Text_size_m">
    Last commit <a class="Link" href="commit.html">c4d248</a> on <a class="Link" href="#">20 Oct 2017, 12:24</a>
    by <a class="Username" href="#">robot-srch-releaser</a>
</div>
