<div class="Layout-Tabs Navigation Tabs">
    <% tabs.forEach(function (tab) { %>
        <% if (tab.current) { %>
            <div class="Tabs-Item Navigation-Item Navigation-Item_current">
                <%= tab.name %>
            </div>
        <% } else { %>
            <a class="Tabs-Item Navigation-Item" href="<%= tab.href %>">
                <%= tab.name %>
            </a>
        <% } %>
    <% }) %>
    <% if (locals.showSearch) { %>
        <!-- Used in redux example -->
        <div id="search-input-container" class="Navigation-Item Navigation-Item_current Navigation-Item_pull_right">
            <input
                type="search"
                placeholder="Search files by name"
                class="SearchInput"
                value="">
        </div>
    <% } %>
</div>
