<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yandex Arcanum - File History</title>

    <link href="styles.css" rel="stylesheet">
    <link href="styles/layout.css" rel="stylesheet" />
    <link href="styles/dropdown.css" rel="stylesheet" />
    <link href="styles/timeline.css" rel="stylesheet">
    <link href="styles/commit_info.css" rel="stylesheet">

    <script src="scripts.js" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

<div class="Header Navigation Navigation_color_type1">
    <img class="Header-Logo" src="images/logo.svg" alt="logo">

    <div class="Dropdown Navigation-Item Navigation-Item_current">
        <div class="Dropdown-Label" data-dropdown-toggle>Repository Arc</div>

        <div class="Dropdown-Content Dropdown-Menu Navigation-DropdownContent">
            <div class="Dropdown-MenuItem">Arc</div>
            <div class="Dropdown-MenuItem">My repository</div>
            <div class="Dropdown-MenuItem">Devtools-team repository</div>
        </div>
    </div>
</div>

<div class="Body">
    <div class="Breadcrumbs">
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">root</a>
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">trunk</a>
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">arcadia</a>
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">adapter</a>
        <div class="Breadcrumbs-Item">ya.make</div>
    </div>

    <div class="Layout">
        <div class="Layout-Branch Dropdown Text_size_xl">
            <div class="Dropdown-Label">ya.make</div>
            <div class="Dropdown-Value">trunk</div>
        </div>

        <div class="Layout-LastCommit Text_size_m">
            Last commit <a class="Link" href="#">c4d248</a> on <a class="Link" href="#">20 Oct 2017, 12:24</a>
            by <a class="Username" href="#">robot-srch-releaser</a>
        </div>

        <div class="Layout-Tabs Navigation Tabs">
            <div class="Navigation-Item Tabs-Item">
                Details
            </div>
            <div class="Navigation-Item Navigation-Item_current Tabs-Item">
                History
            </div>
        </div>

        <div class="Layout-Timeline Timeline">
            <div class="Timeline-Group">
                <div class="Timeline-Date">Today</div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon Timeline-Icon_with_line">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Support new distbuild protocol</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">woodcutter</a>,
                            4 s ago
                        </div>
                    </div>
                </div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon Timeline-Icon_with_line">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Force executing on MULTISLOT hosts by declaring Caches</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">rudskoy</a>,
                            1 min ago
                        </div>
                    </div>
                </div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Fixed run_diff_test in the realm</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">annaveronika</a>,
                            at 16:25
                        </div>
                    </div>
                </div>
            </div>

            <div class="Timeline-Group">
                <div class="Timeline-Date">Yesterday</div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon Timeline-Icon_with_line">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Support HTTP resources</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">woodcutter</a>,
                            4 s ago
                        </div>
                    </div>
                </div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon Timeline-Icon_with_line">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Fixed run_diff_test</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">rudskoy</a>,
                            1 min ago
                        </div>
                    </div>
                </div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Update ya-bin and test_tool</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">annaveronika</a>,
                            at 16:25
                        </div>
                    </div>
                </div>
            </div>

            <div class="Timeline-Group">
                <div class="Timeline-Date">Jan 11</div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon Timeline-Icon_with_line">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Support HTTP resources</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">woodcutter</a>,
                            4 s ago
                        </div>
                    </div>
                </div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon Timeline-Icon_with_line">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Fixed run_diff_test</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">rudskoy</a>,
                            1 min ago
                        </div>
                    </div>
                </div>

                <div class="Timeline-Item">
                    <div class="Timeline-Icon">
                        <img src="images/commit.svg" alt="commit">
                    </div>

                    <div class="Timeline-Content">
                        <div class="Commit-Title">
                            <div class="Commit-TitleText">Update ya-bin and test_tool</div>
                            <a class="Link Commit-Link Commit-TitleLink" href="#">s324e8</a>
                            <img src="images/code.svg" alt="code">
                        </div>

                        <div class="Commit-Description">
                            Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.
                        </div>

                        <a class="Link Commit-Link" href="#">s324e8</a>

                        <div class="Commit-Author">
                            by <a class="Username Commit-AuthorLink" href="#">annaveronika</a>,
                            at 16:25
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
