<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>

<% include partials/header.ejs %>

<div class="Body">
    <div class="Breadcrumbs">
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">root</a>
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">trunk</a>
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">arcadia</a>
        <a class="Breadcrumbs-Item Breadcrumbs-Link" href="files.html">adapter</a>
        <div class="Breadcrumbs-Item">ya.make</div>
    </div>

    <div class="Layout">
        <%- include('partials/branch_select.ejs', {filename: 'ya.make'}) %>

        <% include partials/last_commit.ejs %>

        <%- include('partials/tabs.ejs', {tabs: [{name: 'Details', current: true}, {name: 'History', href: 'file_history.html'}]}) %>
    </div>
</div>

<div class="Layout-FileView Pane">
    <div class="Pane-Header">
        <img class="Pane-FileTypeIcon" src="images/code_file.svg" alt="code_file">
        ya.make
        <div class="Pane-Note">(4 347 bytes)</div>

        <img class="Pane-HeaderAux" src="images/download.svg" alt="download">
    </div>

    <div class="Pane-Body Pane-Body_scroll">
        <pre><code>#!/usr/bin/env python
import os
import sys
import platform
import json

URLS = ['https://proxy.sandbox.yandex-team.ru/453818264', 'http://storage-int.mds.yandex.net/get-sandbox/110738/by_platform.json.453815347']
MD5 = '7f5a85f9c28d35c3a76d8cea7af51106'

RETRIES = 5
HASH_PREFIX = 10

HOME_DIR = os.path.expanduser('~')


def create_dirs(path):
    try:
    os.makedirs(path)
    except OSError as e:
    import errno

    if e.errno != errno.EEXIST:
    raise

    return path


def misc_root():
    return create_dirs(os.getenv('YA_CACHE_DIR') or os.path.join(HOME_DIR, '.ya'))


def tool_root():


    def create_dirs(path):
        try:
        os.makedirs(path)
        except OSError as e:
        import errno

        if e.errno != errno.EEXIST:
        raise

        return path</code></pre>
    </div>
</div>

</body>
</html>
